# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependencias (Node, pnpm)
node_modules/
.pnpm-store/

# Builds y artefactos de compilación
dist/
dist-ssr/
build/
lib/
out/
.nest/
coverage/
*.tsbuildinfo

# Entornos y variables secretas
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de caché
.npm
.eslintcache
.stylelintcache
.vite/

# Firebase
.firebase/

# Editores y SO
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project IDX (Nota: no ignoramos .idx/dev.nix porque es la definición del entorno y debe subirse al repo)
# Solo ignoramos posibles configuraciones locales de IDX si las hubiera.
.idx/local*
